// Typography settings
// Dude.fi specific
:root {
  font-size: 62.5%;
}

// Source: https://github.com/magnetikonline/sassboilerplate/blob/master/fontface.scss
// Example usage: @include fontFace('Proxima Nova','../fonts/proximanova-regular', 400);
@mixin fontFace($family, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$src}.eot');
    src: url('#{$src}.eot?#iefix') format('embedded-opentype'),
      // url('#{$src}.woff2') format('woff2'),
      url('#{$src}.woff') format('woff'),
      url('#{$src}.ttf') format('truetype'),
      url('#{$src}.svg##{$family}') format('svg');

    font-style: $style;
    font-weight: $weight;
  }
}

@include fontFace('TT Interphases', '../fonts/ttinterphases-thin', 100);
@include fontFace('TT Interphases', '../fonts/ttinterphases-extralight', 200);
@include fontFace('TT Interphases', '../fonts/ttinterphases-light', 300);
@include fontFace('TT Interphases', '../fonts/ttinterphases-regular', 400);
@include fontFace('TT Interphases', '../fonts/ttinterphases-medium', 500);
@include fontFace('TT Interphases', '../fonts/ttinterphases-demibold', 600);
@include fontFace('TT Interphases', '../fonts/ttinterphases-bold', 700);
@include fontFace('TT Interphases', '../fonts/ttinterphases-extrabold', 800);
@include fontFace('TT Interphases', '../fonts/ttinterphases-black', 900);
